<form [formGroup]="addItemFormGroup" (ngSubmit)="onSubmit()">

  <div class="container">
    <h3 class="my-3">Добавление объявления</h3>

    <app-category-chooser id="category-chooser" [addItemComponent]="this"></app-category-chooser>
    <div *ngIf="submitted && f.item_category.errors" class="invalid-feedback">
      <div *ngIf="f.item_category.errors.required">Выберите категорию</div>
    </div>

    <h3 class="my-3">Заполните поля</h3>

    <input class="form-control round shadow-sm no-border my-2" id="item_title" type="text" formControlName="item_title" placeholder="Введите название..." [ngClass]="{ 'is-invalid': submitted && f.item_title.errors }" required />
    <div *ngIf="submitted && f.item_title.errors" class="invalid-feedback">
      <div *ngIf="f.item_title.errors.required">Введите название объявления</div>
    </div>

    <textarea class="form-control round shadow-sm no-border my-2" id="item_body" type="text" rows="5" style="resize: none" autosize formControlName="item_body" placeholder="Напишите пару слов об объявлении..." [ngClass]="{ 'is-invalid': submitted && f.item_body.errors }" required></textarea>
    <div *ngIf="submitted && f.item_body.errors" class="invalid-feedback">
      <div *ngIf="f.item_body.errors.required">Введите описание объявления</div>
    </div>

    <ngx-dadata class="search my-2" placeholder="Введите адрес" formControlName="item_address" [config]="config" (selected)="onAddressSelected($event)"></ngx-dadata>
    <div *ngIf="submitted && f.item_address.errors" class="invalid-feedback">
      <div *ngIf="f.item_address.errors.required">Введите адрес</div>
    </div>


    <input class="form-control round shadow-sm no-border w-25 my-2" id="item_price" type="text" formControlName="item_price" placeholder="Введите цену в рублях..." [ngClass]="{ 'is-invalid': submitted && f.item_price.errors }" required />

    <div *ngIf="submitted && f.item_price.errors" class="invalid-feedback">
      <div *ngIf="f.item_price.errors.required">Введите цену</div>
    </div>

    <h3 class="my-3">Загрузите фотографии</h3>

    <app-image-upload [addItemComponent]="this"></app-image-upload>

    <button [disabled]="loading" class="btn round btn-add shadow-sm">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Добавить объявление
    </button>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>

  </div>


</form>
