<footer class="bg-footer-image pt-2">
    <div class="navbar whitecolor nav-foot">
      <a class="navbar-brand" routerLink="">
        <img src="assets/logo.svg" alt="">
      </a>

      <a [routerLink]="['/']" class="">
        <h5 class="m-3">Все объявления</h5>
      </a>
<!--      <a [routerLink]="['/howto']" class="hide_900">-->
<!--        <h5 class="m-3">Как разместить объявление</h5>-->
<!--      </a>-->
      <a [routerLink]="['/about']" class="hide_500">
        <h5 class="m-3">О нас</h5>
      </a>
    </div>
</footer>
