.image {
  border-radius: 25px;
  width: 100%;
}

.card {
 border-radius: 30px;
  padding: 5px;
  border-width: 0 !important;

}

.card-title {
  color: #9b51e0;
}

.main-color {
  color: #9b51e0;
}

.table_ad {

}

.card-price {

}
